@charset "UTF-8";
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../polices/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../polices/Roboto/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("../polices/Roboto/Roboto-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../polices/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("../polices/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("../polices/Roboto/Roboto-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../polices/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("../polices/Roboto/Roboto-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("polices/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("../polices/Roboto/Roboto-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../polices/Roboto/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("../polices/Roboto/Roboto-ThinItalic.ttf") format("truetype");
}
/* couleurs */
/* violet */
/* rose */
/* vert */
/* gris clair */
.header {
  padding: 20px 0;
  position: relative;
  /* F */
  /* pour le positionnement de .return */
  display: flex;
  align-items: center;
}
.header__return {
  font-size: 1.8rem;
  position: absolute;
  /* F */
  /* positionnement de .return */
  left: 2rem;
  /* F */
  /* positionnement de .return */
}
.header__return .fas {
  color: #000000;
}
.header__logo {
  margin: auto;
}

.foot {
  color: #FFFFFF;
  background-color: #444444;
  padding: 1rem 2rem;
}
.foot__link a {
  color: #FFFFFF;
  text-decoration: none;
}
.foot__link a:hover {
  color: #FF79DA;
  transition: all 100ms ease-in-out;
}
.foot__icone {
  font-size: 0.9rem;
  width: 1.8rem;
}

/*---------- INDEX SECTION 1 • SEARCH----------*/
.search {
  padding: 20px 0;
  background: linear-gradient(#c3c3c3, #e9e9e9 10%);
  display: flex;
  justify-content: center;
}
.search__input {
  width: 11rem;
  text-align: center;
  border: none;
  background: transparent;
}

/*---------- INDEX SECTION 2 • TOPO ----------*/
.topo {
  text-align: center;
  background-color: #F6F6F6;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* permet des width différents pour les boites de .topo  sinon ils s'étirent tous à 100% de .topo */
}
.topo h2 {
  margin: 0;
}
.topo p {
  font-size: 1.3rem;
  font-weight: normal;
}
.topo__link {
  text-decoration: none;
}
.topo__btn {
  color: #FFFFFF;
  height: 3.5rem;
  min-width: 15rem;
  border-radius: 2rem;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 2px 5px 10px #aaaaaa;
  padding: 0 2rem;
  margin-bottom: 1rem;
  display: flex;
  /* A */
  /* pour alignement du texte de btn */
  justify-content: center;
  /* A */
  /* alignement horizontal du texte de btn */
  align-items: center;
  /* A */
  /* alignement vertical du texte de btn */
}

/*---------- INDEX SECTION 3 • NAV ----------*/
nav {
  padding: 2rem 2rem 1rem 2rem;
}

.nav {
  padding: 1rem 0 1rem 1rem;
  /* ajustement : alignement left de h2 et nav & centrage nav__link*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*border: solid 1px black;*/
}
.nav__link {
  text-decoration: none;
  color: #000000;
  background: #F6F6F6;
  width: 100%;
  /*min-width: 25rem;*/
  height: 5rem;
  border-radius: 1.5rem;
  box-shadow: 2px 5px 10px #c3c3c3;
  margin-bottom: 2rem;
  display: flex;
  /* A */
  /* pour alignement des sous éléments */
  justify-content: center;
  /* A */
  /* alignement horizontal des sous éléments */
  align-items: center;
  /* A */
  /* alignement vertical des sous éléments */
  position: relative;
  /* B */
  /* pour pouvoir positionner les sous éléments */
}
.nav__number {
  color: #FFFFFF;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: #9356DC;
  display: flex;
  /* A */
  /* pour alignement des sous éléments */
  justify-content: center;
  /* A */
  /* alignement horizontal des sous éléments */
  align-items: center;
  /* A */
  /* alignement vertical des sous éléments */
  position: absolute;
  /* B */
  /* positionnement de nav__number */
  left: -1rem;
  /* B */
  /* positionnement de nav__number */
}
.nav__icone {
  color: #9356DC;
  font-size: 1.5rem;
  position: absolute;
  /* C */
  /* positionnement de nav__number */
  left: 3rem;
  /* C */
  /* positionnement de nav__number */
}

/*---------- INDEX SECTION 4 • RESTOS ----------*/
.restos {
  background-color: #F6F6F6;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.card {
  /* background-color: $color_01 */
  width: 100%;
  /* pour firefox */
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 2px 5px 10px #c3c3c3;
  margin-bottom: 2rem;
  position: relative;
  /* D */
  /* pour pouvoir positionner les card__new */
}
.card__link {
  color: #000000;
  text-decoration: none;
}
.card__img {
  /*max-width: 25rem;*/
  width: 100%;
  height: 13rem;
  object-fit: cover;
}
.card__img.ajust_1 {
  object-position: 50% 100%;
}
.card__img.ajust_2 {
  object-position: 50% 60%;
}
.card__info {
  padding: 0 2rem 0 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.card__info h4, .card__info p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* F */
  /*fonctionne si largeur fixe */
}
.card__info h4 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.card__info p {
  margin-top: 0.5rem;
}
.card__info-love {
  /* prépa animation : supperposition du coeur vide et du coeur plein */
  font-size: 2rem;
  position: relative;
  /* E */
  /* pour positionnement de fas au dessus de far*/
}
.card__info-love > .fas {
  color: #9356DC;
  /*linear-gradient($color_1, $color_2); ??? */
  position: absolute;
  /* E */
  /* pour positionnement de fas au dessus de far*/
  left: 0;
  /* E */
  /* pour positionnement de fas au dessus de far*/
  top: 0.15rem;
}
.card__new {
  color: #1b6150;
  background-color: #99E2D0;
  padding: 0.5rem 1rem;
  position: absolute;
  /* D */
  /* positionnement de card__new */
  top: 0.1rem;
  /* D */
  /* positionnement de card__new */
  right: 1rem;
  /* D */
  /* positionnement de card__new */
}

/*---------- PAGE RESTO SECTION 1 • IDENTITY ----------*/
.identity-0 {
  width: 100%;
  height: 22rem;
  padding-top: 1.5rem;
  background-image: url("../pictures/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: 110%;
}
.identity-0__head {
  height: 7rem;
  background-color: #F6F6F6;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  top: 15rem;
  padding: 0 2rem 0 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.identity-0__head-love {
  /* prépa animation : supperposition du coeur vide et du coeur plein */
  font-size: 2rem;
  position: relative;
  /* E */
  /* pour positionnement de fas au dessus de far*/
}
.identity-0__head-love > .fas {
  color: #9356DC;
  /*linear-gradient($color_1, $color_2); ??? */
  position: absolute;
  /* E */
  /* pour positionnement de fas au dessus de far*/
  left: 0;
  /* E */
  /* pour positionnement de fas au dessus de far*/
  top: 0.15rem;
}

.identity-1 {
  width: 100%;
  height: 22rem;
  padding-top: 1.5rem;
  background-image: url("../pictures/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: 110%;
}
.identity-1__head {
  height: 7rem;
  background-color: #F6F6F6;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  top: 15rem;
  padding: 0 2rem 0 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.identity-1__head-love {
  /* prépa animation : supperposition du coeur vide et du coeur plein */
  font-size: 2rem;
  position: relative;
  /* E */
  /* pour positionnement de fas au dessus de far*/
}
.identity-1__head-love > .fas {
  color: #9356DC;
  /*linear-gradient($color_1, $color_2); ??? */
  position: absolute;
  /* E */
  /* pour positionnement de fas au dessus de far*/
  left: 0;
  /* E */
  /* pour positionnement de fas au dessus de far*/
  top: 0.15rem;
}

.identity-2 {
  width: 100%;
  height: 22rem;
  padding-top: 1.5rem;
  background-image: url("../pictures/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: 100%;
  background-position: 0 -150px;
}
.identity-2__head {
  height: 7rem;
  background-color: #F6F6F6;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  top: 15rem;
  padding: 0 2rem 0 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.identity-2__head-love {
  /* prépa animation : supperposition du coeur vide et du coeur plein */
  font-size: 2rem;
  position: relative;
  /* E */
  /* pour positionnement de fas au dessus de far*/
}
.identity-2__head-love > .fas {
  color: #9356DC;
  /*linear-gradient($color_1, $color_2); ??? */
  position: absolute;
  /* E */
  /* pour positionnement de fas au dessus de far*/
  left: 0;
  /* E */
  /* pour positionnement de fas au dessus de far*/
  top: 0.15rem;
}

.identity-3 {
  width: 100%;
  height: 22rem;
  padding-top: 1.5rem;
  background-image: url("../pictures/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: 110%;
}
.identity-3__head {
  height: 7rem;
  background-color: #F6F6F6;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  top: 15rem;
  padding: 0 2rem 0 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.identity-3__head-love {
  /* prépa animation : supperposition du coeur vide et du coeur plein */
  font-size: 2rem;
  position: relative;
  /* E */
  /* pour positionnement de fas au dessus de far*/
}
.identity-3__head-love > .fas {
  color: #9356DC;
  /*linear-gradient($color_1, $color_2); ??? */
  position: absolute;
  /* E */
  /* pour positionnement de fas au dessus de far*/
  left: 0;
  /* E */
  /* pour positionnement de fas au dessus de far*/
  top: 0.15rem;
}

.identity-4 {
  width: 100%;
  height: 22rem;
  padding-top: 1.5rem;
  background-image: url("../pictures/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: 100%;
}
.identity-4__head {
  height: 7rem;
  background-color: #F6F6F6;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  top: 15rem;
  padding: 0 2rem 0 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.identity-4__head-love {
  /* prépa animation : supperposition du coeur vide et du coeur plein */
  font-size: 2rem;
  position: relative;
  /* E */
  /* pour positionnement de fas au dessus de far*/
}
.identity-4__head-love > .fas {
  color: #9356DC;
  /*linear-gradient($color_1, $color_2); ??? */
  position: absolute;
  /* E */
  /* pour positionnement de fas au dessus de far*/
  left: 0;
  /* E */
  /* pour positionnement de fas au dessus de far*/
  top: 0.15rem;
}

/*---------- PAGE RESTO SECTION 1 • MENU ----------*/
.menu {
  background-color: #F6F6F6;
  padding: 0 1rem 0.5rem 1rem;
}
.menu__group {
  padding-top: 0.5rem;
}
.menu__line {
  width: 3rem;
  height: 0.3rem;
  background-color: #99E2D0;
  border: none;
  margin: -1rem 0 1.5rem 0;
}
.menu__dish {
  background-color: #FFFFFF;
  width: 100%;
  /*min-width: 25rem;*/
  height: 5rem;
  border-radius: 1.5rem;
  box-shadow: 2px 5px 10px #c3c3c3;
  margin-bottom: 1rem;
  overflow: hidden;
}
.menu__dish-anim {
  width: 130%;
  padding-left: 1rem;
  display: flex;
  /* A */
  /* pour alignement des sous éléments */
  flex-wrap: nowrap;
  justify-content: flex-start;
  /* A */
  /* alignement horizontal des sous éléments */
  align-items: flex-end;
  /* A */
  /* alignement vertical des sous éléments */
  transition: all 0.3s;
}
.menu__dish-anim:active {
  /* prépa animation */
  width: 100%;
}
.menu__dish-box-1 {
  width: 60%;
}
.menu__dish-box-1 h4, .menu__dish-box-1 p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* F */
  /*fonctionne si largeur fixe */
}
.menu__dish-box-1 h4 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.menu__dish-box-1 p {
  margin-top: 0.5rem;
}
.menu__dish-box-2 {
  width: 20%;
  text-align: center;
  font-weight: bold;
}
.menu__dish-box-3 {
  width: 20%;
  height: 5.5rem;
  background-color: #99E2D0;
  margin-top: -0.5rem;
}

/*---------- PAGE RESTO SECTION 1 • COMMAND ----------*/
.command {
  background-color: #F6F6F6;
  padding: 3rem;
  display: flex;
  /* permet d'appliquer le padding de button plutôt que le witdh 100% du parent par défaut */
  justify-content: center;
}
.command__link {
  text-decoration: none;
}
.command__btn {
  color: #FFFFFF;
  height: 3.5rem;
  min-width: 15rem;
  border-radius: 2rem;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 2px 5px 10px #aaaaaa;
  padding: 0 2rem;
  margin-bottom: 1rem;
  display: flex;
  /* A */
  /* pour alignement du texte de btn */
  justify-content: center;
  /* A */
  /* alignement horizontal du texte de btn */
  align-items: center;
  /* A */
  /* alignement vertical du texte de btn */
}

/* Break points 480 (560) 780 960*/
body {
  font-family: Roboto-Regular, Arial, sans-serif;
  font-size: 1.1rem;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1, h3 {
  font-weight: normal;
}

h1, h3 {
  font-family: Shrikhand, Arial, sans-serif;
}

h1 {
  font-size: 2rem;
}

* {
  box-sizing: border-box;
  /* les padding et bordures ne modifient pas les dimensions des boites */
}

main {
  /*width: 90%;
  margin: auto;
  border: solid 1px red;*/
}

/*# sourceMappingURL=style.css.map */
