/*---------- PAGES RESTO SECTION 1 • IDENTITY ----------*/
.identity-0 {
	width: 100%;
	height: 22rem;
	padding-top: 1.5rem;
	background-image: url("../pictures/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
	background-size: 110%;
	&__head {
		height: 7rem;
		background-color: $color_4;
		border-radius: 3rem 3rem 0 0;
		position: relative;
		top: 15rem;
		@include flex-align-row-between-center-padding;
		&-love {
			@include love-anim-B;
		}
	}
}
.identity-1 {
	width: 100%;
	height: 22rem;
	padding-top: 1.5rem;
	background-image: url("../pictures/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
	background-size: 110%;
	&__head {
		height: 7rem;
		background-color: $color_4;
		border-radius: 3rem 3rem 0 0;
		position: relative;
		top: 15rem;
		@include flex-align-row-between-center-padding;
		&-love {
			@include love-anim-B;
		}
	}
}
.identity-2 {
	width: 100%;
	height: 22rem;
	padding-top: 1.5rem;
	background-image: url("../pictures/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
	background-size: 100%;
	background-position: 0 -150px;
	&__head {
		height: 7rem;
		background-color: $color_4;
		border-radius: 3rem 3rem 0 0;
		position: relative;
		top: 15rem;
		@include flex-align-row-between-center-padding;
		&-love {
			@include love-anim-B;
		}
	}
}
.identity-3 {
	width: 100%;
	height: 22rem;
	padding-top: 1.5rem;
	background-image: url("../pictures/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
	background-size: 110%;
	&__head {
		height: 7rem;
		background-color: $color_4;
		border-radius: 3rem 3rem 0 0;
		position: relative;
		top: 15rem;
		@include flex-align-row-between-center-padding;
		&-love {
			@include love-anim-B;
		}
	}
}
.identity-4 {
	width: 100%;
	height: 22rem;
	padding-top: 1.5rem;
	background-image: url("../pictures/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
	background-size: 100%;
	&__head {
		height: 7rem;
		background-color: $color_4;
		border-radius: 3rem 3rem 0 0;
		position: relative;
		top: 15rem;
		@include flex-align-row-between-center-padding;
		&-love {
			@include love-anim-B;
		}
	}
}

/*---------- PAGES RESTO SECTION 1 • MENU ----------*/
.menu {
	background-color: $color_4;
	padding: 0 1rem 0.5rem 1rem;
	&__group {
		padding-top: .5rem;
	}
	&__line {
		width: 3rem;
		height: .3rem;
		background-color: $color_3;
		border: none;
		margin: -1rem 0 1.5rem 0;
	}
	&__dish {
		background-color: $color_01;
		@include window;
		margin-bottom: 1rem;
		overflow: hidden;
		cursor: pointer;
		&--valid {
			width: 130%;
			@include flex-align-row-nowrap-between-start-padding;
			transition: all 500ms;
			&:hover {					/* prépa animation */
				width: 100%;
				> .menu__dish-box-3 {
					> .fas {
						transform: rotate(1turn);
					}
				}
			}
		}
		&-box-1 {
			width: 60%;
			@include ajust-h4-p;
		}
		&-box-2{
			width: 20%;
			text-align: center;
			font-weight: bold;
		}
		&-box-3 {
			width: 20%;
			height: 5.5rem;
			background-color: $color_3;
			margin-top: -.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			.fas {
				color: $color_01;
				font-size: 2rem;
				transform: rotate(0);
				transition: transform 420ms 80ms;
			}
		}
	}
}

/*---------- PAGES RESTO SECTION 1 • COMMAND ----------*/
.command {
	background-color: $color_4;
	padding: 3rem;
	display: flex;	/* permet d'appliquer le padding de button plutôt que le witdh 100% du parent par défaut */ 
	justify-content: center;
	&__link {
		text-decoration: none;
	}
	&__btn {
		@include button;
	}
}

