/*-------------- Boutton • design & transition --------------*/

@mixin button {
	color: $color_01;
	height: 3.5rem;
	min-width: 15rem;
	border-radius: 2rem;
	background: linear-gradient(175deg, $color_2, $color_1);	
	box-shadow: 2px 5px 10px darken($color_4, 30%);				
	padding: 0 2rem;
	margin-bottom: 1rem;
	display: flex;								/* A */ /* pour alignement du texte de btn */
	justify-content: center;					/* A */ /* alignement horizontal du texte de btn */
	align-items: center; 						/* A */ /* alignement vertical du texte de btn */
	position: relative;							/* G */ /* pour positionnement de ::before dans btn */
	&::after {									/* éclaircissement de btn • élément en-dessous du texte → ::after */		
		content:"";
		height: 100%;
		width: 100%;
		border-radius: 2rem;
		background-color: $color_01;		
		box-shadow: 2px 5px 5px $color_00;
		position: absolute;						/* G */ /* positionnement de ::before dans btn */
		left: 0;								/* G */ /* pour positionnement de ::before dans btn */
		top: 0;									/* G */ /* pour positionnement de ::before dans btn */
		opacity: 0;								/* état initial de ::after */
		transition: opacity 500ms ease-in-out;
	}
	&:hover {
		&::after {
			opacity: .2;						/* état final de ::after */
		}
	}
}

/*-------------- J'aime index & resto • supperposition coeur vide / coeur plein & animation --------------*/

@mixin love-anim {				
	font-size: 2rem;
	position : relative;						/* E */ /* pour positionnement de fas au dessus de far*/
	& > .fas {
		color: $color_1; 						/*linear-gradient($color_1, $color_2); ??? */
		position: absolute;						/* E */ /* pour positionnement de fas au dessus de far*/
		left: 0;								/* E */ /* pour positionnement de fas au dessus de far*/
		top: .15rem;
		transform: scale(0);
		transform-origin: bottom;
	}
	&:hover > .fas {
		animation: full-scale 500ms 100ms forwards;
	}
}

/*-------------- Lignes "index / fonctionnement" & "restos / dish" --------------*/

@mixin window {
	width: 100%;
	/*min-width: 25rem;*/
	height: 5rem;
	border-radius: 1.5rem;
	box-shadow: 2px 5px 10px darken($color_4, 20%);
}

/*-------------- Alignement (h4, p) "index / cartes resto" & "restos / dish"--------------*/

@mixin ajust-h4-p {
	h4, p {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;				/* tronque le texte avec ... / fonctionne si largeur fixe */
	}
	h4 {
		margin-top: 1rem;
		margin-bottom: 0;
	}
	p {
		margin-top: 0.5rem;
	}
}

/*-------------- Flex • alignement et ajustement mep --------------*/

@mixin flex-align-row-between-center-padding {
	padding: 0 2rem 0 1rem;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-align-row-center-center {
	display: flex;					/* A */ /* pour alignement des sous éléments */
	justify-content: center;		/* A */ /* alignement horizontal des sous éléments */
	align-items: center; 			/* A */ /* alignement vertical des sous éléments */
}

@mixin flex-align-row-between-end-padding {
	padding: 0 0 0 1rem;
	display: flex;					/* A */ /* pour alignement des sous éléments */
	justify-content: space-between;	/* A */ /* alignement horizontal des sous éléments */
	align-items: flex-end; 			/* A */ /* alignement vertical des sous éléments */
}

@mixin flex-align-row-nowrap-between-start-end-padding {
	padding-left: 1rem;
	display: flex;					/* A */ /* pour alignement des sous éléments */
	flex-wrap: nowrap;				
	justify-content: flex-start;	/* A */ /* alignement horizontal des sous éléments */
	align-items: flex-end; 			/* A */ /* alignement vertical des sous éléments */
}